@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:100);
html {
	height: 100%;
	width: 100%;
}

body {
	
	height: 100%;
	width: 100%;
}

div#fullpage {
	height: 100%;
	width: 100%;
	background:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url(http://bit.ly/29IUbBN);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed; 
	background-size: cover;
	background-color: black; 
	display: flex;
    justify-content: center;
    align-items: center;
}

p {
	color: white;
	text-align: center;
	font-size: 20px;
	font-family: 'Alegreya Sans', sans-serif;
}





img {
	height: 75%;
	width: 45%;
	display: flex;
   	margin: 0 auto;
    
}

button {
	background-color: transparent;
	border: none;
	outline: none;
	

}


img#pull_down_button {
	height: 80px;
	width: 100px;
	
	text-align: center;
	vertical-align: middle;
}










/*CSS CODE FOR CALC*/

#second_screen {
	height: 100%;
	width: 100%;
	background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url(http://bit.ly/29IV6SX);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed; 
	background-size: cover;
	background-color: black; 
	display: flex;
    justify-content: center;
    align-items: center;

}


div.form-control {
	background-color: transparent;
	border: white 2px solid;
	color: white;
}




button.btn.btn-primary {
	background-color: transparent;
	border: white 2px solid;
	

}