/*CSS CODE FOR LANDING PAGE*/

@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:100);
html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
}

div#fullpage {
	height: 100%;
	width: 100%;
	background:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url(http://bit.ly/29IUbBN);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed; 
	background-size: cover;
	background-color: black; 
	display: flex;
    justify-content: center;
    align-items: center;
}

p {
	color: white;
	text-align: center;
	font-size: 20px;
	font-family: 'Alegreya Sans', sans-serif;
}

img {
	max-height: 75%;
	max-width: 45%;
	display: flex;
   	margin: 0 auto;
}

img#pull_down_button {
	height: 80px;
	width: 100px;
	text-align: center;
}

img#pull_down_button:hover {
	cursor: pointer;
}

/*CSS CODE FOR CALC*/

#second_screen {
	height: 100%;
	width: 100%;
	background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url(http://bit.ly/29IV6SX);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed; 
	background-size: cover;
	display: flex;
    justify-content: center;
    align-items: center;
}


input.form-control {
	background-color: transparent;
	border: white 2px solid;
	color: white;
	height: 100%;
	width: 97%;
	padding: 10px;
}

div.form-control {
	background-color: transparent;
	border: white 2px solid;
	color: white;
	height: 100%;
	width: 50%;
	text-align: center;
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 15px;
	margin: 0 auto;
	margin-top: 20px;
	cursor: pointer;
}

span.btn.btn-primary {
	background-color: transparent;
	border: white 2px solid;
	height: 70px;
	width: 70px;
	margin: 10px;
	outline: none;
}

span.btn.btn-primary:active {
	background-color: transparent; 
  	border-color: transparent;
}

@media screen and (max-width: 666px) {
    img {
   		height: inherit;
    	min-width: 100%
    }

    img#pull_down_button {
    	height: inherit;
    	min-width: 20%;
    }
}


