html {
	height: 100%;
	width: 100%;
}

body {
	
	height: 100%;
	width: 100%;
}

div#fullpage {
	height: 100%;
	width: 100%;
	background:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url(http://bit.ly/29IUbBN);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed; 
	background-size: cover;
	background-color: black; 
	display: flex;
    justify-content: center;
    align-items: center;
}







img {
	height: 75%;
	width: 45%;
	display: flex;
   margin: 0 auto;
    
}

button {
	background-color: transparent;
	border: none;
	outline: none;
	

}


img#pull_down_button {
	height: 80px;
	width: 100px;
	


	
	
}










/*CSS CODE FOR CALC*/


div.form-control {
	background-color: transparent;
	border: white 2px solid;
	color: white;
}




button.btn.btn-primary {
	background-color: transparent;
	border: white 2px solid;
	

}